@model SurveyConfiguratorWeb.Models.QuestionModel

@Html.Partial("Questions/_Create", Model.questionFaces)

<div class="row mb-3">
    <div class="col-6">
        <label for="exampleFormControlInput1" class="form-label">Start Value</label>
        <input type="number" min="0" max="99" class="form-control" id="" placeholder="1">
    </div>
    <div class="col-6">
        <label for="exampleFormControlInput1" class="form-label">End Value</label>
        <input type="number" min="1" max="100" class="form-control" id="" placeholder="1">
    </div>

    <div class="col-6">
        <label for="exampleFormControlInput1" class="form-label">Start Caption</label>
        <input type="number" min="1" max="10" class="form-control" id="exampleFormControlInput1" placeholder="1">
    </div>
    <div class="col-6">
        <label for="exampleFormControlInput1" class="form-label">End Caption</label>
        <input type="number" min="1" max="10" class="form-control" id="exampleFormControlInput1" placeholder="1">
    </div>
</div>

