@using SurveyConfiguratorWeb.Languages
<div class="alert alert-danger my-3" role="alert" id="connectionFailed">
    <h4 class="alert-heading">@Language.CONNECTION_FAILED</h4>
    <p>@Language.DB_FAILED_NERORK_CONNECTION</p>

</div>