body {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.05) !important;
    
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
