@using SurveyConfiguratorWeb.Models
@model SurveyConfiguratorWeb.Models.ErrorModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    <div class="alert alert-danger my-3" role="alert">
        <h4 class="alert-heading">@Model.Title</h4>
        <p>@Model.Message</p>
       
    </div>
    <div>
        @Html.Partial(Routes.PATH_BACK_TO_LIST_FILE)
    </div>
</body>
</html>